body {
    background-color: black;
    /*rgb(168, 1, 168);*/
    color: white;
}

.btn {
    background-color: white;
    color: black;
}

.btn:hover {
    background-color: black;
    color: white;
    transition-duration: 0.2s;
}