:root{ 
  --global-font: Consolas, "Liberation Mono", "Courier New", monospace;
}

/* General styles */
h1 {
  color: black;
  text-align: center;
}

p {
  font-family: var(--global-font);
  font-size: .5em;
}

a {
  font-family: var(--global-font);
}

footer{
  font-family: var(--global-font);
}

/* HC Table styles */
#errMsgDiv {
  display: none !important; 
  background-color: yellow;
}

#errStatusDiv:hover + #errMsgDiv {
  display: inline !important; 
  position: absolute;
  z-index: 100;
}

#hcTable {
  font-family: var(--global-font);
  width: 100%;
}

#hcTable > thead {
  font-size: 1.5em;
}

#idCol {
  width: 20%;
}

#serviceCol {
  width: 30%;
}

#statusCol {
  width: 60%; 
}

/* Throbber styles */
#throbberDiv {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.3);
}

#throbber {
  display: block;
  position: relative;
  justify-content: center;
  width: 100%;
  height: 70%;
}

#throbberText {
  text-align: center;
  display: block;
  position: relative;
  justify-content: center;
  color: black;
}

/* Navbar styles */
#dashboardDropdownDiv:hover {
  background-color: gainsboro;
}

.navbar-brand {
  height: 9vh;
  margin-left: 1%;
}

#navbarLogo {
  max-height: 100%;
}

#navbarLogoText {
  size: 50%;
  font-weight: bold;
  font-size: 70%;
}

/* Info section styles */
#serviceDiv {
  padding-bottom: 2vh;
  border-bottom: 2px solid gray;
}

#infoDiv {
  padding-top: 2vh;
}

.infoSrcDiv {
  display: inline-block;
  vertical-align: top;
  margin: .5vh;
  padding: 1vh;
  border: 1px solid gray;
  border-left: 1em solid #0d6efd;
}

.infoSrcErr {
  font-size: 1em;
  color: red;
}